/* Header.css */

/* 헤더 맨위 */
.gnb_box .hd_top{
  background: rgb(164, 209, 174); 
  color: #fff; 
  padding-top: 15px; 
  padding-bottom: 15px;}

/* 로그아웃 버튼 */
.hd_right{ line-height: 35px; 
  height: 35px; 
  font-size: 16px; 
  color: #000; 
  opacity: 0.8; 
  font-weight: 400;; 
  box-sizing: border-box;  
  opacity: 0.8;}

.hd_right {
  display: flex;
  align-items: center;
  float: right;
}

.hd_right p {
  margin-right: 10px;
}

.hd_right button {
  background: rgb(16, 63, 5);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px; 
  font-size: 15px;
  transition: background-color 0.3s;
}



.hd_right button:hover {
  margin-right: 11px;
  font-size: 17px;
  background-color: red;
}

/* 자동차로고*/
img {width:auto;max-width:100%;vertical-align:top;}

.h_nav .logo {
  float: left;
  width: auto;
  padding-top: 8px;
  padding-left: 15px;
  transition: transform 0.3s;
}
.h_nav .logo:hover {
  transform: scale(1.2);
  margin-left: 10px;
}



/* 햄버거 */


.hbrfont{
  font-size: 17px;
  line-height: 80px; /* 흰색부분 */
  color: #333;
  background: #fff;
  padding: 5px 18px;
  letter-spacing: -0.03em;
  transition: .3s;
  text-align: right;
}


.hbrfont > ul > li.on > a:hover,
.menulist > a:hover {
  margin-top: 18px;
  margin-right: 1px;
  font-size: 20px;
  line-height: 50px;
  color: rgb(255, 255, 255);
  background: #a4d1ae;
  padding: 2px 18px;
  letter-spacing: -0.03em;
  transition: .3s;
  border-radius: 10px;
}

.hbrfont > ul > li.on > a,
.menulist.active > a {
  margin-top: 18px;
  margin-right: 1px;
  font-size: 20px;
  line-height: 50px;
  color: rgb(255, 255, 255);
  background: #77a581;
  padding: 2px 18px;
  letter-spacing: -0.03em;
  transition: .3s;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.open .bar:nth-child(2) {
  opacity: 10px;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -10px);
}

.nav {
  display: flex;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto; /* 메뉴를 오른쪽으로 이동 */
  display: flex;
}

.nav li {
  margin-right: 20px;
}

/* 반응형 스타일 추가 */
@media screen and (max-width: 768px) {

  .hbrfont{
    font-size: 12px;
    line-height: 4; /* 간격을 조절하는 부분 */
  }
  
  .menulist {
    margin-top: 5px;
    font-size: 13px;
    line-height: 1.2; /* 간격을 조절하는 부분 */
  }

  .hbrfont > ul > li.on > a:hover,
.menulist > a:hover {
  margin-top: 2px;
  font-size: 13px;
  line-height: 1.2; /* 간격을 조절하는 부분 */
}

  .hbrfont > ul > li.on > a,
  .menulist.active > a {
    margin-top: 2px;
    font-size: 13px;
    line-height: 1.2; /* 간격을 조절하는 부분 */
  }

  .h_nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin-top: px;
    margin-bottom: 10px;
  }
  .img {
    margin-top: 10px;
  }
  .menu-icon {
    margin-top: 20px;
    display: flex;
    margin-left: auto; /* 메뉴를 오른쪽으로 이동 */
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #eee;
    z-index: 1;
    padding: 10px;
  }

  .nav.show-menu {
    display: flex;
  }

  .nav ul {
    padding: 10px;
    margin: 0;
    margin-left: auto; /* 메뉴를 오른쪽으로 이동 */
    justify-content: flex-end; /* 메뉴를 오른쪽으로 정렬 */
  }

  .nav li {
    margin-right: 20px;
  }
}
